<!DOCTYPE html>
<html>
    <head>
        <title>EcoX Home Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

         <!-- Optional Bootstrap theme -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
        
    </head>
    <body>
            <nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">

            <!-- Brand and toggle get grouped for better mobile display -->

                <div class="container">

                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                        
                        <span class="sr-only">Toggle navigation</span>

                        <span class="icon-bar"></span>

                        <span class="icon-bar"></span>

                        <span class="icon-bar"></span>

                    </button>

                    <a class="navbar-brand" href="#">EcoX</a>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->

                <div class="collapse navbar-collapse" id="navbarCollapse">

                    <ul class="nav navbar-nav">

                        <li class="active"><a href="/homeNotSignedIn" th:href="@{/homeNotSignedIn}">Home</a></li>

                        <li><a href="">About</a></li>

                        <li><a href="">Contact</a></li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/signin" th:href="@{/signin}">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in</a></li>
                        <li><a href="/signup" th:href="@{/signup}" >Sign up</a></li>
                    </ul>
                </div>

                </div>

            </nav>

            <div class="container">

                <div class="jumbotron">

                <h1>Ready, Set, Insight!</h1>

                <p>Add Blurb about Eco X </p>

                <p><a href="#" class="btn btn-success btn-lg">Learn More About Eco X</a></p>

            </div>

            <div class="row">

                <div class="col-xs-4">

                    <h2>Researchers</h2>

                    <p>Add Blurb for Researchers</p>

                    <p><a href="#" class="btn btn-success">Learn More &raquo;</a></p>

                </div>

                <div class="col-xs-4">

                    <h2>Visitors</h2>

                    <p>Add blurb for visitors.</p>

                    <p><a href="#" class="btn btn-success">Learn More &raquo;</a></p>

                </div>

                <div class="col-xs-4">

                    <h2>Get Involved</h2>

                    <p>Want to join the EcoX team? </p>

                    <p><a href="#" class="btn btn-success">Learn More &raquo;</a></p>

                </div>

            </div>

            <hr>

            <div class="row">

                <div class="col-xs-12">

                    <footer>

                        <p>&copy; Copyright 2016 St Petersburg College</p>

                    </footer>

                </div>

            </div>

        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    </body>
</html>