 
<!DOCTYPE html>   
 <html>
    <head>
        <title>EcoX File Upload</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

         <!-- Optional Bootstrap theme -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
        
        <link rel="stylesheet" type="text/css" media="all"
                   href="../../resources/css/dashboard.css" th:href="@{/resources/css/dashboard.css}" >
    </head>
    <body>
            <div th:replace="fragments/header :: header"></div>
        <br>
        
            <div class="container">
                <div class="row">
                    <br>
                    
                   
                       
                    <div class="col-sm-12 col-md-10 col-md-offset-2 main"></br>
                        <h1 class="page-header">File Upload</h1>
                    <!--
                    <form th:action="@{/upload}" method="post" enctype="multipart/form-data">
                        <label for="file">Select a file to upload</label>
                        <input type="file" name="file" id="file"/>
                        <input type="submit" value="Upload" />
                    </form>
                    -->
                        <!-- upload with multiple files               -->
                    <form modelAttribute="uploadForm" method="POST" th:action="@{/upload}" th:object="${uploadForm}" enctype="multipart/form-data">                     
     
                        Files to upload: <input th:field="*{files}" type="file" multiple="multiple"/><br />      
   
                        <input type="submit" value="Upload">
          
                    </form>
                        
                     
                    </div> 
              
            <!-- Import Footer -->
                    <div th:replace="fragments/footer :: footer"> </div>          
            </div>
                    
    
            
        </div>  
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    </body>

</html>
