<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>File Uploaded</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <p>Uploaded Files:</p>
        <table>
            <tr th:each="entry : ${map}">
            <div th:if="${entry.value}">
                <td th:text="${entry.key}">file name</td>
            </div>
        </tr>
    </table>

    <p>Failed Files:</p>
    <table>
        <tr th:each="entry : ${map}">
        <div th:unless="${entry.value}">
            <td th:text="${entry.key}">file name</td>
        </div>
    </tr>
</table>
</body>
</html>
